.project-card {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
  }
  .project-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .proj-name-link {
    text-decoration: none;
    font-size: 10px;
    color: black;
  }
  
  .proj-name-link:hover {
    color: #28efa8;
  }
  